src/main/mule/rtf-mule4-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8eee68df-20de-472d-a12d-2fb102624fd4" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="9c1f0943-2878-4b40-a63e-e51d7786def1" file="sample-${mule.env}.yaml" />
	<global-property doc:name="Global Property" doc:id="f43e9cf8-e024-4cd6-9878-2d7c0c5c6543" name="mule.env" value="prod" />
	<flow name="rtf-mule4-exp-apiFlow" doc:id="a4e16ead-a90a-41b4-b63c-aac30881ae41" >
		<http:listener doc:name="Listener" doc:id="27da8dd3-4759-4700-bfad-bac3741ba20b" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#['response from RTF mule4 API...']" doc:name="Set Payload" doc:id="34587d8b-ab97-429e-ac7a-1b85b9e0459b" />
	</flow>
</mule>
